# Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto

Installing the required module

In [1]:
!pip install bs4

Requirement already satisfied: bs4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4->bs4) (2.2)

Importing the required libraries

In [2]:
import pandas as pd
import requests  # this module helps us to download a web page

We will use the `read_html` function to directly get DataFrames from a `url` which defines the url of the website containg the table

In [3]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
#html_data  = requests.get(url).text

In [4]:
toronto_data = pd.read_html(url, flavor='bs4')[0]

Retreiving the number of columns and rows in the dataset, we can see that there are 3 columns and 180 row

In [5]:
toronto_data.shape

(180, 3)

Displaying the first 5 rows of the dataset

In [6]:
toronto_data.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Removing rows with a borough that is Not assigned.

In [7]:
toronto_data = toronto_data.loc[(toronto_data["Borough"] != 'Not assigned')]

Retreiving the number of columns and rows in the dataset, we can see that there are 3 columns and 103 rows after removing rows with a borough that is Not assigned.

In [8]:
toronto_data.shape

(103, 3)

The following command will check if a postal code is listed twice and has two neighborhoods, these two rows will be combined into one row with the neighborhoods separated with a comma.
There are no duplicate postalcodes in the dataset

In [9]:
toronto_data = toronto_data.groupby(['Postal Code'], as_index=False, sort=False).agg( ','.join)

In [10]:
toronto_data.shape

(103, 3)

Checking if a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
There are no such cells with these criteria.

In [11]:
toronto_data.loc[toronto_data['Neighbourhood']=='Not assigned', 'Neighbourhood'] = toronto_data['Borough']

In [12]:
toronto_data.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Reading the csv file that has the geographical coordinates of each postal code

In [13]:
coord_data = pd.read_csv('https://cocl.us/Geospatial_data')
coord_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Joining the two dataframes together to result in the following final dataframe

In [14]:
joined_data = toronto_data.join(coord_data.set_index('Postal Code'), on='Postal Code')
joined_data.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494